@import url('https://fonts.googleapis.com/css?family=Neucha');

.brand-family {
  font-family: 'Neucha', cursive;
}

.font-xl {
  font-size: 2rem;
}

.font-lg {
  font-size: 1.5em;
}

a {
  color inherit
  text-decoration inherit
  cursor pointer
}